/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.boule {
  float: left;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  background-color: #2ecc71;
  margin-right: 10px;
  border: none;
  color: white;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;

}
.boule:hover{
  background-color: #27ae60;
}
.active {
  background-color: #f1c40f;
}
.active:hover{
  background-color: #f1c40f;
}
.balance{
  position: relative;
  width: 100px;
  height: 100px;
}
.div-boule{
  display: block;
  margin:0% 25%;
  text-align:center;
  clear:both;
}
.div-image{
 display: block;
  margin: auto;
 text-align:center;
 clear:both;;
}

.div-boutton,.div-text{
  display: block;
   margin: auto;
  text-align:center;
  clear:both;
}
