<ion-view view-title="{{categorieTitle}}">
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <!-- <img src="mcfly.jpg"> -->
    <h2>{{article.title}}</h2>
    <p>{{article.creation | date :'MM/dd/yyyy hh:mm'}} -- {{article.author}}</p>
  </div>

  <div class="item item-body">
  <ng-code type="css">
    <div ng-show="false" class="content">
      function onSaveSuccess(){
        $state.go('viewList')
      }
    </div>
    <ng-result ng-show="true" type="css"></ng-result>
  </ng-code>
    <img class="full-image" src="{{article.image}}">
    <p>
      {{article.content}}
    </p>
    <p>

      <a href="#" class="subdued">{{article.Like}} Like</a>
      <a href="#" class="subdued">{{article.comments}} Comments</a>
    </p>
  </div>

<!-- </div>
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="Title" ng-model="article.title">
      </label>
      <label class="item item-input">
        <textarea placeholder="Comments" ng-model="article.author"></textarea>
        <textarea placeholder="Comments" ng-model="article.last_modif"></textarea>
        <textarea placeholder="Comments" ng-model="article.creation"></textarea>
        <textarea placeholder="Comments" ng-model="article.image"></textarea>
        <textarea placeholder="Comments" ng-model="article.content"></textarea>
      </label>
    </div>
    <button ng-show="!article.id" class="button button-full button-positive ng-hide" ng-click="saveNote()">
      Sauvegarder
    </button>

    <div ng-show="article.id" class="button-bar">
      <a class="button button-positive" ng-click="saveNote()">
        <i class="icon ion-checkmark"></i>
      </a>
      <a class="button button-assertive" ng-click="confirmDelete(article.id)">
        <i class="icon ion-trash-b"></i>
      </a>
    </div> -->
  </ion-content>
</ion-view>
